#login-container{
    height: 600px;
}
#login-form{
    float: left;
    margin-right: 50px;
    width: 570px;
}
#login-container .wrapper{
    width: 1190px;
}
#login-container h2{
    margin-top: 50px;
    color: #3c3b3b;
    font-size: 30px;
}
#login-container label input{
    width: 400px;
    height: 38px;
    outline: none;
    text-indent: 10px;
    font-size: 20px;
}
#login-form h3{
    color: #5d5959;
}
input[type="submit"]{
    margin: 30px 0;
    color: #fff;
    background: #ef8743;
    border-color: #ef8743;
}
input[type="submit"]:hover{
    color: #000;
    background: #fff;
    border-color: #000;
}
#login-container a{
    color: #5d5959
}
#register{
    float: left;
    width: 570px;
}
#register h3{
    color: #ef8743;
    font-size: 25px;
}
#register p{
    color: #999999;
}
#register button{
    margin-top: 30px;
    color: #000;
    background: #fff;
    border-color: #000;
}
.btn{
    width: 114px;
    height: 35px;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}
#register button:hover{
    color: #fff;
    background: #ef8743;
    border-color: #ef8743;
}