#sale{
    height: 400px;
    margin: 0 auto;
}
#sale img{
    width: 136px;
    float: left;
    margin: 30px 20px;
}
#sale .wrapper{
    width: 1460px;
}
#sale h2{
    margin-top: 30px;
    margin-left: 20px;
}
#product-detail{
    height: 1220px;
}
#good{
    float: left;
    width: 100%;
    margin-left: 70px;
}
.show{
    width: 360px;
    height: 500px;
    margin: 30px 70px;
    float: left;
    border: 1px #cccccc solid;
    background: #fcf8ff;
}
.show img{
    width: 280px;
    height: 280px;
    border: 1px #cccccc solid;
    cursor: pointer;
}
.show span{
    background: #fa558f;
    color: #ffffff;
    float: right;
    padding: 5px;
}
.price{
    width: 360px;
    height: 215px;
}
.price h2,h3{
    margin-left: 10px;
}
.count{
    margin-left: 10px;
    text-indent: 8px;
    width: 150px;
    height: 30px;
}
.btn{
    margin: 20px 10px ;
    background: #ef8743;
    color: #ffffff;
    border: 0;
    width: 150px;
    height: 40px;
    cursor: pointer;
}